body {
	
font-family: courier;
font-size: 16px;
background: rgb(249, 197, 217);
}

h2{
	font-family: arial;
	font-style: italic;
	font-size: 60px;
	padding: 20px;
}

.button {
    background: black;
    color: white;
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
}

.button:hover {
	background: none;
/*	border: 2px dotted black;*/
	color: black;
}

.header{
	font-family: arial;
	font-style: italic;
	font-size: 60px;
/*	text-align: left;*/
}
.header p{
	margin:0;
}
.bg {
    background: rgb(249, 197, 217);
    padding-left: 5%;
}

.flex-first {
	display: flex;
	width: 90%;
    max-width: 1080px;
	padding: 15px 15px 0px 15px;
	flex-wrap: wrap;
}

.question {
	flex-basis: 40%;
	flex-grow: 1;
}

.question p {
/*	text-align: right;*/
	font-weight: bold;
	padding-right:15px;
}

.answer {
	flex-grow: 2;
	flex-basis: 60%;
	min-width: 400px;
	float: left;
}

#pullquote {
	flex-grow: 2;
	flex-basis: 60%;
	min-width: 400px;
	max-width: 60%;
	padding: 0px 15px;
	border-width: 7px;
	border-style: dotted;
	float: right;
}

FIGCAPTION {
	padding: 10px;
	font-style: italic;
	font-weight:bold;
	font-family: courier;
	font-size: 13px;
	max-width: 400px;
}

.captionfloat {
	float:left;
}

.answerimage {
	justify-content: flex-end;
}

.photo {
	width: 400px;
	float: right;
	padding: 10px;
}

.ice {
	width: 300px;
	float: right;
	float: center;
}

@media only screen and (max-width: 720px) {
  .header {
    font-size: 37px;
  }
  .bg {
    padding-left: 0%;
	}
	.photo {
	width: 60%;
	float: right;
}
.ice {
	width: 80%;
	float: center;
}

}










